{% extends 'base.html.twig' %}
{% block head %}
    <title>REDDHHFIC</title>
    {{ parent() }}
{% endblock %}
{% block cabeza %}
<body id="inner_page">
{{ parent() }}
{% endblock %}
{% block cuerpo %}
    {{ parent() }}
    <!-- section -->
    <section class="main_full inner_page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text_align_center">
                    <div class="full heading_s1 center">
                        <h2>QUIENES SOMOS</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding section" style="width: 82%">
        <div class="container" style="text-align: justify">
            <div class="row" style="margin: 1%">
                <ul>
                    <li STYLE="text-align: center">
                        <a name="Menu"/>
                        <h1 STYLE="text-align: center">MENÚ DE NAVEGACIÓN</h1>
                        <!--Pares-->
                        <div style="text-align: center">
                            <div style="float: right; width: 50%">
                                <p><a href="#Actualidad">2) QUIENES SOMOS EN LA ACTUALIDAD</a></p>
                                <p><a href="#eordfic">4) ESTRUCTURA ORGANIZATIVA DE LA RED DE D.H. “F.I.C.”</a></p>
                            </div>
                            <!--Impares-->
                            <div style="width: 50%;">
                                <p><a href="#RHistorica">1) RESEÑA HISTÓRICA</a></p>
                                <p><a href="#CPO">3) CARÁCTER, PRINCIPIOS Y OBJETIVOS</a></p>
                            </div>
                        </div>
                        <!-- Generico
                        <p><a href="#"></a></p>
                        -->
                    </li>
                    <li>
                        <a name="RHistorica"/>
                        <h1 style="text-align: center">RESEÑA HISTÓRICA</h1>
                        <p>El robustecimiento del conflicto en el suroccidente colombiano partió de la imposición de
                            políticas estatales y de la presencia de actores armados, que, debido a la beligerancia,
                            generaron un panorama crítico que impactó en gran medida en la realidad política, social y
                            económica en esta región.</p>

                        <p>Sin embargo, las vicisitudes y conflictos no son un asunto que solamente ocurrieron a finales
                            del s. XX, sino que incluso se pueden rastrear pretensiones violentas desde la época de la
                            colonia en los s. XV y XVI. Esta aproximación histórica es importante no solo por las
                            violencias vividas; sino por la resistencia que las comunidades indígenas, las comunidades
                            negras, afrodescendientes, raizales y palenqueras y el campesinado, las cuales se han
                            mantenido frente a los reiterados intentos de invasores de apoderarse de los territorios
                            ancestrales.</p>

                        <p>Ese coraje que caracteriza a las personas de la región ha impulsado la resistencia y lucha en
                            el s. XX, en donde se ha dado una lucha por esos territorios ancestrales. Retomando lo dicho
                            por Alfredo Molano: “En los años 20 del pasado siglo el indio Quintín Lame desató la lucha
                            por el territorio ancestral. Levantó a los indígenas del norte de Cauca, del sur de Tolima y
                            el norte de Huila. Lo derrotaron, pero en esa cuna nacieron las Farc”.<a href="#101">1</a></p>

                        <p>Aproximándonos a la región, puede decirse que el departamento del Cauca se ha distinguido por
                            su fértil dinámica social y por el trabajo de las organizaciones comunitarias, creando
                            iniciativas y luchas locales que trascienden al nivel nacional; el espíritu luchador de las
                            comunidades y sus organizaciones continúa siendo el motor del trabajo de muchas personas que
                            defienden los derechos y reivindican causas sociales.</p>

                        <p>De esta manera podemos encontrar que existen subjetividades plurales en el territorio, que
                            utilizan distintas formas de resistencia, siendo parte de la emergencia de los nuevos
                            sujetos políticos que en los últimos años han recreado el escenario de la política en el
                            país.</p>

                        <p>El incremento de la violencia sociopolítica en el departamento se ha constituido en una
                            barrera que atenta contra la supervivencia de las comunidades y que mina la posibilidad de
                            consolidar la democracia colombiana. No puede haber democracia completa sin una
                            institucionalidad que garantice el deber estatal de proteger la libre expresión de quienes
                            alzan sus voces para denunciar las políticas del mismo Estado como causa de las violencias y
                            sus impactos.</p>

                        <p>Con este panorama, anudado con el inconformismo generalizado de la sociedad, en noviembre de
                            1999 se realiza la primera “Movilización del Suroccidente Colombiano” como punto cumbre de
                            expresión del derecho a la protesta social donde participaron comunidades indígenas,
                            comunidades negras, afrodescendientes, raizales y palenqueras, comunidades campesinas,
                            educadores, viviendistas y estudiantes, quienes mediante el cierre de la vía panamericana,
                            exigieron al Estado la instauración de una mesa de negociación y la suscripción de una acta
                            de compromisos.</p>

                        <p>Posterior a esta manifestación, en el mes de diciembre de 1999 se fortaleció y consolidó el
                            paramilitarismo en la región, a través del Bloque Calima <a href="#102">2</a>, generando intimidaciones,
                            amenazas y masacres orientadas a desarraigar a defensores y defensoras de derechos humanos y
                            a sus comunidades. Esta estrategia paramilitar estaba orientada en materializar un control
                            social y territorial de grandes zonas de interés para el desarrollo de megaproyectos. <a href="#103">3</a></p>

                        <p>Ante la grave situación de vulneración de derechos humanos, y dentro del marco de un
                            escenario de resistencia y lucha popular, surge la Coordinación de Organizaciones Populares
                            del Suroccidente Colombiano, en el año 2000 en el cual se articulan procesos como:
                            FENSUAGRO, el Proceso Campesino y Popular La Vega, La Asociación Campesina de Caldono
                            ASOCAL, Asociaciones indígenas Avelino Ul, Lorenzo Ramos, Procesos estudiantiles
                            Coordinadora Estudiantil Tuto Gonzales, Sindicato de Pequeños y Medianos Agricultores del
                            Cauca (SIMPEAGRIC), Organizaciones de Viviendistas y Servicios Públicos, entre otros.</p>

                        <p>Posteriormente a su interior en el año 2002 se realiza una propuesta organizativa para la
                            creación de la “Red de Derechos Humanos del Suroccidente Colombiano”, pensada como un
                            proceso alternativo de resistencia encaminado hacia la prevención y protección de grupos
                            poblacionales minoritarios en aras de la exigibilidad de garantías al Estado.</p>

                        <p>Con ese antecedente, en 2001 cuando se decidió adoptar el nombre de Red De Derechos Humanos
                            Francisco Isaías Cifuentes (Red DDHH FIC), en honor y conmemoración del educador y líder
                            popular Francisco Isaías Cifuentes, asesinado el 26 de abril de 2001 en la ciudad de Popayán
                            a manos de paramilitares. Francisco era originario de Cajibío - Cauca, y junto con su esposa
                            Leydi María Fernández, fueron asesinados por dedicar su vida al trabajo comunitario y
                            participar en la Primera Movilización del Suroccidente Colombiano.</p>

                        <p>En 2002, 2006, 2007 y 2008, debido a la complicada situación económica, social y política, y
                            en ejercicio del derecho a la protesta, la Red DDHH FIC siguió tejiendo lazos de hermandad y
                            solidaridad impulsando diversos espacios de formación, consolidación organizativa de cara a
                            jornadas de movilización social <a href="#104">4</a>,<a href="#105">5</a>. Estos espacios de protesta fueron reprimidos por las
                            Fuerzas Armadas Estatales, quienes dieron un tratamiento militar y guerrerista a los
                            manifestantes usando mecanismos prohibidos como la quema y envenenamiento de alimentos; la
                            suspensión del abastecimiento de agua con el ánimo de hacer rendir por hambre y sed al
                            opositor y el uso de armas no convencionales. Estas acciones fueron dirigidas en contra de
                            población indefensa, dejando un amplio saldo de muertos, heridos, mutilados, desaparecidos,
                            encarcelados y desarraigados.</p>

                        <p>Este proceso permitió que en el año 2007 la Red DDHH FIC se pudiera articular regionalmente
                            en el Proceso de Unidad Popular del Suroccidente Colombiano (PUPSOC) y a nivel nacional en
                            la Coordinación Nacional Agraria y Popular (CONAP). Pie de página la coordinación pasa a ser
                            un proceso regional donde se vinculan nuevas organizaciones PUPSOC.</p>

                        <p>Entre 2006 y 2016, las comunidades padecieron una profundización de la crisis humanitaria en
                            la región a causa de políticas del Estado sustentadas en la “Estrategia para el
                            Fortalecimiento de la Democracia y el Desarrollo Social” <a href="#106">6</a> y en particular su eje de
                            “consolidación de la política de seguridad democrática”<a href="#107">7</a>. En esta época, las infracciones al
                            DIH y las violaciones al DIDH, resultaban habituales debido a las acciones ilegales y
                            arbitrarias de las Fuerzas Militares y de Policía, además de las que propiciaban los grupos
                            paramilitares. La manifestación de la violencia estatal y paramilitar se incrementó a raíz
                            de la inclusión de regiones del departamento en zonas prioritarias para el desarrollo de la
                            Doctrina de la Acción Integral <a href="#108">8</a> en su fase estratégica de “Control Social del Territorio”
                            por parte del Estado Colombiano.</p>

                        <p>En la última etapa de los procesos históricos regionales y nacionales las organizaciones
                            populares han sido protagonistas de grandes movilizaciones sociales. Cada una de ellas
                            representa un hito distinto en la movilización y construcción programática que se hace desde
                            lo popular. Estas experiencias han tomado diferentes caminos de articulación: entre 2010 y
                            2012, las organizaciones que conformaban el PUPSOC decidieron articularse al Movimiento
                            Marcha Patriótica; posteriormente en 2013 hubo trabajo mancomunado con la Cumbre Agraria
                            Campesina Étnica y Popular; y finalmente, durante 2013, 2014 y 2016, existió participación
                            en procesos de movilización unitarios, es decir, Paros Agrarios, Minga del Suroccidente y la
                            Minga Social por la Vida, el Territorio y la Paz.</p>

                        <p>De estos procesos de movilización se establecieron mesas de negociación entre las
                            comunidades, el Gobierno Nacional y los Gobiernos Departamentales; sin embargo, el Estado
                            Colombiano, además de incumplir la mayoría de los acuerdos, adelantó estrategias de
                            represión y persecución judicial en contra de los manifestantes, además de establecer
                            barreras en torno a la garantía de justicia en casos de acciones irregulares de agentes del
                            Estado.</p>

                        <p>Ante el sistemático desconocimiento y vulneración de los derechos individuales y colectivos
                            de campesinos, afrodescendientes, indígenas, de población urbana y popular los procesos
                            organizativos en la región, la Red DDHH FIC ha venido continuamente adelantando acciones
                            comunitarias de prevención y protección de los Derechos Humanos ante la agudización de los
                            efectos de la violencia social y política que ha estructurado nuestra historia.</p>

                        <p>La existencia en el departamento del Cauca de un importante acumulado de experiencias
                            prácticas de movilización popular, así como de movimientos sociales que han demostrado en
                            los últimos años un alcance nacional de grandes proporciones concretados en la movilización
                            popular del año 1999, la movilización agraria y popular del año 2002, la Movilización
                            Agraria y Popular de 2007, la Jornada de Movilización Agraria, Indígena y Popular del Sur
                            Occidente Colombiano de octubre de 2008, la Minga Social y Comunitaria de 2008, la Marcha
                            Patriótica y Cabildo abierto por la independencia del año 2010, y durante los años 2013,
                            2014, 2016 y 2019, participamos activamente en procesos de movilización unitarios en lo que
                            se conoció como paros agrarios, minga suroccidente y finalmente minga social por la vida, el
                            territorio y la paz; estos procesos de movilización históricamente han sido reprimidas
                            arbitrariamente por las Fuerzas Armadas Estatales, en donde el Estado opera contra la
                            población indefensa, con prácticas que están prohibidas incluso en contiendas entre
                            Ejércitos regulares donde resultaban centenares de heridos, detenciones arbitrarias y
                            decenas de muertos a causa del uso desproporcionado de la fuerza y del uso de armas
                            convencionales y no convencionales en desarrollo del accionar militar.</p>

                        <h3 style="text-align: center">REFERENCIAS</h3>
                        <a name="101"/>
                        <a href="https://www.elespectador.com/opinion/el-nudo-de-la-guerra-columna-361599/"><h4>1) EL
                                ESPECTADOR. El nudo de la guerra. Por Alfredo Molano Bravo. Redacción Opinión. Bogotá
                                D.C. 21/07/2012. [Consultado: 02/02/2021].</h4></a>
                        <a name="102"/>
                        <a href="http://centrodememoriahistorica.gov.co/wp-content/uploads/2020/02/Libro_Paramilitarismo_baja.pdf">
                            <h4>2) CENTRO NACIONAL DE MEMORIA HISTÓRICA. Análisis Cuantitativo del Paramilitarismo en
                                Colombia. Bogotá. Diana Gamba Buitrago. 2019. 192 p. [Consultado 02/02/2021].</h4></a>
                        <a name="103"/>
                        <a href="http://www.iirsa.org/admin_iirsa_web/Uploads/Documents/tir_sp09_mauro_marcondes.pdf">
                            <h4>3) IIRSA. La integración física de América del Sur. Buenos Aires, Argentina. Mauro
                                Marcondes Rodríguez. 2009. [Consultado 02/02/2021].</h4></a>
                        <a name="104"/>
                        <a href="https://www.arcoiris.com.co/2012/07/las-razones-detras-del-conflicto-en-el-cauca/"><h4>
                                4) CORPORACIÓN NUEVO ARCOÍRIS. Las razones detrás del conflicto en el Cauca. Por:
                                Fernanda Espinoza Moreno. Bogotá D.C. 2012. [Consultado 03/02/2021].</h4></a>
                        <a name="105"/>
                        <a href="https://revistacontroversia.com/index.php?journal=controversia&page=article&op=view&path%5B%5D=392&path%5B%5D=pdf_177">
                            <h4>5)ROJAS, Esneider. El movimiento campesino en el Cauca: organización y lucha territorial
                                por el reconocimiento como sujeto de derechos. En: Revista Controversia: Dossier
                                "Interculturalidad, Convivencias y Gobernanzas Territoriales". Bogotá, Colombia. Oct,
                                2015. 205. 28 p. [Consultado 03/02/2021].</h4></a>
                        <a name="106"/>
                        <a href="https://revistas.uniandes.edu.co/doi/pdf/10.7440/colombiaint65.2007.01"><h4>6) ROJAS,
                                Diana Marcela. PLAN COLOMBIA II: ¿más de lo mismo? Colombia Internacional. Bogotá,
                                ene-jun, 2007, n65. 14-37. [Consultado: 02/02/2021].</h4></a>
                        <a name="107"/>
                        <a href="#"><h4>7) Op. cit. PRESIDENCIA DE LA REPÚBLICA - MINISTERIO DE DEFENSA NACIONAL.
                                2003.</h4></a>
                        <a name="108"/>
                        <a href="https://esdeguerevistacientifica.edu.co/index.php/estudios/article/view/152"><h4>8)
                                RUIZ MORA, Jesús Alberto. Acción integral, hacia una doctrina unificada. Bogotá. Centro
                                de estudios estratégicos sobre seguridad y defensa nacional. 2007. 7 p. [Consultado:
                                02/02/2021].</h4></a>

                        <!--<a href=""><h4></h4></a>-->
                        <a href="#Menu" style="text-align: center"><h3>REGRESAR AL MENÚ</h3></a>
                        <hr>
                    </li>
                    <li>
                        <a name="Actualidad"/>
                        <h1 style="text-align: center">QUIENES SOMOS EN LA ACTUALIDAD</h1>
                        <p>Desde hace veinte años la Red de Derechos Humanos “Francisco Isaías Cifuentes” viene trabajando, como una más de las organizaciones, construyendo conocimiento y formación, creando mecanismos para apoyar los procesos de autonomía integral de los sectores populares.</p>

                        <p>Pese a que inicialmente en el marco de acción el referente era el DIDH, debido a las constantes afectaciones que en desarrollo del conflicto armado padecían de forma individual y colectiva las comunidades rurales de la región, en el año 2009, se decide ampliar el rango de acción al Derecho Internacional Humanitario.</p>

                        <p>En la actualidad la Red DDHH FIC es una comisión permanente de trabajo de la CDC PUPSOC, conformada por delegados de organizaciones campesinas, comunidades indígenas y afrodescendientes, organizaciones estudiantiles, sindicatos, grupos poblacionales y sectores barriales que hacen parte de las coordinaciones departamentales del PUPSOC en los departamentos de Valle, Cauca y Nariño. La Red DDHH FIC viene desarrollándose y actuando de forma práctica para resistir y avanzar en procesos en beneficio de las comunidades.</p>

                        <p>En el departamento del Cauca confluyen las siguientes organizaciones defensoras de derechos humanos:</p>

                        <p>• Federación Nacional Sindical Unitaria Agropecuaria - FENSUAGRO.</p>
                        <p>• Sindicato de Pequeños Agricultores del Departamento del Cauca - SINPEAGRIC.</p>
                        <p>• Asociación Proconstitución Zona de Reserva Campesina Municipio de Miranda – ASPROZONAC</p>
                        <p>• Asociación de Trabajadores Campesinos Municipio de Corinto – ASPROZONAC.</p>
                        <p>• Asociación de Trabajadores Zona de Reserva Campesina Municipio de Caloto – ASTRAZONACAL.</p>
                        <p>• Asociación de Trabajadores Campesinos del Municipio de Patía – AGROPATÍA.</p>
                        <p>• Asociación de Trabajadores Campesinos de Bolívar – ASTRACBOL.</p>
                        <p>• Asociación de Trabajadores de Sucre – ASTRACSUCRE.</p>
                        <p>• Asociación de Trabajadores Campesina de San Sebastián – ASOTCAMSS.</p>
                        <p>• Proceso Campesino y Popular del Municipio de la Vega – PCPV.</p>
                        <p>• Asociación Campesina de Productores de agricultura Ecológica de Timbío – ASCAMPROET.</p>
                        <p>• Asociación Campesina municipio de Popayán – ASOCAMPO.</p>
                        <p>• Asociación Campesina de Sotará – ASOCAMSO.</p>
                        <p>• Asociación de Trabajadores Campesinos del municipio de Cajibío – ATCC.</p>
                        <p>• Corporación Agraria de Productores Agropecuarios del Cauca Cajibío – CORPOAPRODEC.</p>
                        <p>• Asociación de Trabajadores Campesinos de Piendamó – ATCP.</p>
                        <p>• Asociación de Trabajadores Campesina de Totoró – ASOCAT.</p>
                        <p>• Asociación Campesina de Inzá Tierradentro – ACIT.</p>
                        <p>• Asociación Campesina Municipal de Páez – ASCAMP.</p>
                        <p>• Asociación Campesina de Santander de Quilichao – ADIECOL.</p>
                        <p>• Asociación de Trabajadores de Suárez - ASOCORDILLERA</p>
                        <p>• Asociación de víctimas Renacer Siglo XXI – ASORENACER.</p>
                        <p>• Asociación de Trabajadores Campesinos del Naya – ASTRANAYA.</p>
                        <p>• Asociación de pescadores del Rio Saija – ASOPESCARIZA</p>
                        <p>• Asociación Indígena Páez “Avelino Ul”</p>
                        <p>• Movimiento Sin Tierra Nietos de Manuel Quintín Lame – MSNMQL</p>
                        <p>• Asociación Indígena de trabajadores y pequeños productores agropecuarios del Municipio de Jambaló – AITPROA</p>
                        <p>• Juventud Rebelde Cauca.</p>
                        <p>• Coordinadora Departamental de Estudiantes de Secundaria – CDES.</p>
                        <p>• Federación de Estudiantes Universitarios del Cauca – FEU.</p>
                        <p>• Corporación Colectivo de Abogados Suyana</p>
                        <p>• Partido Comunista Colombiano – PCC</p>
                        <p>• Juventud Comunista - JUCO</p>

                        <p>La Red DDHH FIC es un proceso político organizativo que día a día construye senderos de vida, respetuosos de las comunidades y sus organizaciones, de los diferentes sectores sociales de la región, de sus coordinaciones a nivel nacional y demás pueblos del mundo. Este es un proceso que se enriquece a partir del trabajo, del pensamiento, la discusión y el análisis que se traducen en conclusiones y decisiones colectivas.</p>

                        <p>La Red DDHH FIC estima que su visión política y organizativa que va dirigida a la transformación del sistema económico, político y social que subyuga a la mayoría de colombianos y la capacidad de acción de la CDC PUPSOC, son parte de los elementos por los cuales la organización, sus dirigentes y sus bases populares se han convertido en objetivo militar, víctimas de la guerra sucia por parte de paramilitares y organismos de seguridad del Estado, condenando así los derechos a la organización, la libertad, la integridad personal y la vida. Llevando a cabo un plan de aniquilamiento y exterminio que refleja múltiples violaciones al Derecho Internacional de los Derechos Humanos e Infracciones al Derecho Internacional Humanitario.</p>

                        <p>El PUPSOC coordina esfuerzos organizativos hacia el fortalecimiento y cohesión de La Red DDHH FIC como una de las alternativas para enfrentar la crisis en materia de derechos humanos que se vive en la región, y diseñar mecanismos políticos de prevención y protección de las comunidades en riesgo.</p>

                        <p>La Red DDHH FIC se desarrolla como una comisión permanente de trabajo de la Coordinación Social y Política Marcha Patriótica (MAPA) y de la CDC PUPSOC que a través de la coordinación de organizaciones, procesos e instancias de Derechos Humanos, de víctimas y de defensa de prisioneros políticos a nivel regional defiende y promueve de forma integral el Derecho Internacional de los Derechos Humanos  y el respeto por el Derecho Internacional Humanitario sobre las organizaciones o los integrantes de la CDC PUPSOC y de comunidades asentadas en el suroccidente de Colombia. Por lo tanto, su dinámica es flexible y amplia.</p>

                        <p>La Red DDHH FIC rige su trabajo bajo los principios de solidaridad, internacionalismo solidario, responsabilidad y veracidad, colaboración, enfoque diferencial, territorial, étnico, cultural, generacional y de género, participación democrática y directa, construcción colectiva. A partir de estos principios han trazado como objetivos centrados en contribuir desde el Suroccidente Colombiano al respeto y garantía de los Derechos Humanos y con ello visibilizar a nivel local, regional, nacional e internacional la situación humanitaria de organizaciones y territorios de trabajo del Colectivo Marcha Patriótica, la CDC PUPSOC, y de los líderes/as sociales y defensores/as de Derechos Humanos.</p>

                        <p>De la misma forma se pretende exigir al Estado el cumplimiento de manera efectiva de sus obligaciones de respeto, garantía y cumplimiento del proceso de implementación del Acuerdo de Paz de La Habana, luchando por el respeto al espíritu de lo pactado y manteniendo su esencia y naturaleza.</p>

                        <a href="#Menu" style="text-align: center"><h3>REGRESAR AL MENÚ</h3></a>
                        <hr>
                    </li>
                    <li>
                        <a name="CPO"/>
                        <h1 style="text-align: center">CARÁCTER, PRINCIPIOS Y OBJETIVOS</h1>

                        <h2 style="text-align: center">I. CARÁCTER:</h2>

                        <p>La Red de Derechos Humanos del Suroccidente Colombiano “Francisco Isaías Cifuentes” (en adelante Red DDHH FIC) es una comisión permanente de trabajo del Proceso de Unidad Popular del Suroccidente Colombiano - PUPSOC que a través de la coordinación de organizaciones, procesos e instancias de Derechos Humanos, de víctimas y de defensa de prisioneros políticos a nivel regional; defiende y promueve de forma integral el Derecho Internacional de los Derechos Humanos (Derechos civiles y políticos; sociales, económicos y culturales; y colectivos, del medio ambiente y el territorio) y el Derecho Internacional Humanitario. Por lo tanto, su dinámica es flexible y amplia.</p>

                        <h2 style="text-align: center;">II. PRINCIPIOS</h2>

                            <p>La Red DDHH FIC regirá su trabajo bajo los siguientes principios:</p>
                            <p>• Solidaridad</p>
                            <p>• Internacionalismo solidario</p>
                            <p>• Responsabilidad y veracidad
                            <p>• Colaboración mutua</p>
                            <p>• Enfoque diferencial. territorial, étnico, cultural, generacional y de género</p>
                            <p>• Participación democrática y directa</p>
                            <p>• Construcción colectiva</p>

                            <h2 style="text-align: center">III. OBJETIVOS</h2>

                            <h3>Objetivo general</h3>

                            <p>Contribuir desde el Suroccidente Colombiano al respeto y garantía de los Derechos Humanos (Derecho Internacional de los Derechos Humanos y el Derecho Internacional Humanitario).</p>

                            <h3>Objetivos específicos:</h3>
                            <p>1. Visibilizar a nivel local, regional, nacional e internacional la situación humanitaria de organizaciones y territorios del PUPSOC, y de los líderes/as sociales y defensores/as de Derechos Humanos y la ausencia de garantías para el ejercicio de la participación política.</p>
                            <p>2. Exigir al Estado Colombiano el cumplimiento de manera efectiva de sus obligaciones de respeto y garantía (Protección, prevención, investigación, juzgamiento y sanción) del Derecho Internacional de los Derechos Humanos y el Derecho Internacional Humanitario.</p>
                            <p>3. Exigir al Estado Colombiano el cumplimiento del proceso de implementación del Acuerdo de Paz de La Habana en lo relativo al respeto y garantía de Derechos Humanos y luchar por el respeto al espíritu de lo pactado, manteniendo su esencia y naturaleza.</p>
                            <p>4. Defender, promover y fortalecer la lucha por el goce y disfrute de los derechos civiles y políticos, sociales, económicos y culturales, y colectivos y del medio ambiente, de los/as integrantes del PUPSOC y de las organizaciones y comunidades en los territorios.</p>
                            <p>5. Promover la participación permanente en el tema de garantías y respeto a los DDHH en las negociaciones entre el ELN y el Gobierno Nacional, como de la implementación de los acuerdos que surja de esta.</p>
                            <p>6. Denunciar y visibilizar las situaciones de vulneración de los Derechos Humanos en los territorios.</p>
                            <p>7. Contribuir a la formación y capacitación permanente de las organizaciones, para generar una cultura y educación en derechos humanos que permita el fortalecimiento de los procesos organizativos en los territorios.</p>



                        <a href="#Menu" style="text-align: center"><h3>REGRESAR AL MENÚ</h3></a>
                        <hr>
                    </li>
                    <li>
                        <a name="eordfic"/>
                        <h1 style="text-align: center">ESTRUCTURA ORGANIZATIVA DE LA RED DE D.H. “F.I.C.”</h1>

                        <h3>1. Comité o comisión municipal de Derechos Humanos.</h3>

                        <p>En los municipios en donde exista más de una organización del PUPSOC, se debe crear un comité de Derechos Humanos. Su organización será flexible y amplia, a su interior se debe definir un/a responsable Municipal.</p>

                        <p>En los municipios en donde exista una sola organización del PUPSOC, esta debe crear una comisión de Derechos Humanos. A su interior se debe definir un/a responsable.</p>

                        <p>Se deberá definir un responsable de Derechos Humanos por cada una de las organizaciones que hacen parte del PUPSOC.</p>

                        <p>Funciones:</p>
                        <p>a) Centralización de denuncias y comunicación al/la/os/as responsable/s Departamental.
                        <p>b) Verificación en terreno sobre violaciones e infracciones a los derechos Humanos y acompañamiento a misiones de verificación.</p>
                        <p>c) Acompañamiento a talleres, reuniones y comisiones que se desarrollen en el territorio.</p>
                        <p>d) Acompañamiento a victimas ante las personerías municipales y fiscalía para que inicien ruta de prevención, judicialización y protección.</p>
                        <p>e) Elaboración y radicación de documentos ante instituciones municipales (Personería, Comando de Policía, Ejército, etc.).</p>
                        <p>f) Elaboración de base de datos telefónica y de correos electrónicos de instituciones civiles, militares y policías de la zona. Y comunicarlo a la Coordinación Regional.</p>
                        <p>g) Gestión de recursos económicos.</p>

                        <h3>2. Coordinación Departamental de la Red DDHH FIC:</h3>

                        <p>Conformado por:</p>

                        <p>a) Un delegado/a de cada una de las zonas territoriales de cada uno de los Departamentos</p>
                        <p>b) Tres delegados/as del equipo operativo departamental.</p>

                        <p>Funciones:</p>

                        <p>a) Construir y evaluar el plan de acción.
                        <p>b) Definir el desarrollo de acciones puntuales de funcionamiento de la Red DDHH FIC en el departamento.</p>
                        <p>c) Definir o remover los integrantes el comité técnico operativo departamental y suplir vacancias temporales</p>
                        <p>d) Definir las responsabilidades de incidencia (institucional y social), formación, articulación con instancias regionales y nacionales, sistematización, elaboración de documentos, entre otros.</p>
                        <p>e) Designar los/as delegados/as departamentales ante la coordinación regional de la Red DDHH FIC.</p>
                        <p>f) Realizar cartografía social y análisis estratégico de la información.</p>

                        <p>Se reunirá cada dos meses manera ordinaria y de manera extraordinaria cuando así se decida.</p>

                        <h3>3. Equipo Técnico Operativo Departamental.</h3>

                        <p>La Coordinación Departamental de la Red DDHH FIC, conformará un equipo técnico operativo, el cual se integrará a partir de candidatos/as sugeridos por:</p>
                        <p>a) Las organizaciones que hacen parte del PUPSOC,</p>
                        <p>b) La coordinación departamental de la Red DDHH FIC</p>
                        <p>c) El equipo técnico operativo departamental.</p>

                        <p>Funciones:</p>
                        <p>a) Operativizar a nivel Departamental las actividades que surjan de los planes de la Red DDHH FIC y del PUPSOC.</p>
                        <p>b) Centralización de información, elaboración de denuncias y difusión a través de los medios de comunicación regionales.
                        <p>c) Acompañamiento misiones de verificación en terreno sobre violaciones e infracciones a los Derechos Humanos.</p>
                        <p>d) Acompañamiento a talleres, reuniones y comisiones que se desarrollen en el territorio.</p>
                        <p>e) Acompañamiento y asesoría a víctimas ante instituciones del orden departamental para que inicien ruta de prevención, judicialización y protección.</p>
                        <p>f) Elaboración y radicación de documentos ante instituciones departamentales y nacionales.</p>
                        <p>g) Elaboración de base de datos telefónica y de correos electrónicos de instituciones civiles, militares, policías de la zona y de medios de comunicación.</p>
                        <p>h) Gestión de recursos económicos.</p>
                        <p>i) Proyectar la investigación de cartografía social y el análisis estratégico, para ser discutido por la coordinación departamental.</p>

                        <p>Su coordinación se hará de forma presencial y/o vía telefónica y virtual.</p>

                        <p>Se reunirá ordinariamente cada 8 días y extraordinariamente cuando lo consideren necesario.</p>

                        <h3>4. Asamblea Departamental de la Red DDHH FIC.</h3>

                        <p>Conformado por:</p>
                        <p>a) Los/as responsables de Derechos Humanos de cada una de las organizaciones que hagan parte del PUPSOC</p>
                        <p>b) Los/as integrantes del equipo técnico operativo Departamental.</p>

                        <p>Funciones:</p>
                        <p>a) Construir y evaluar el plan de trabajo anual a partir de las iniciativas de las organizaciones que hacen parte del PUPSOC y el equipo técnico operativo Departamental.</p>
                        <p>b) Sugerir a las asambleas del PUPSOC, la línea política para el funcionamiento de la Red DDHH FIC en el Departamento, respetando los lineamientos nacionales en esta materia.</p>

                        <p>Se reunirá una vez al año de manera ordinaria y de manera extraordinaria cuando así se decida.</p>


                        <h3>5. Coordinación Regional.</h3>

                        <p>Para mantener y fortalecer la coordinación de la Red DDHH FIC en los tres departamentos del suroccidente colombiano (Cauca, Valle del Cauca y Nariño) se propondrá a la asamblea regional de la Red DDHH FIC:</p>
                        <p>a) La conformación de una coordinación regional integrada por tres delegados por Departamento elegidos en las Coordinaciones Departamentales de la Red DDHH FIC.
                        <p>b) Que su coordinación se haga de forma presencial y/o vía telefónica y virtual.</p>
                        <p>c) Que se reúna ordinariamente cada 4 meses y extraordinariamente cuando lo consideren necesario.</p>



                        <a href="#Menu" style="text-align: center"><h3>REGRESAR AL MENÚ</h3></a>
                        <hr>
                    </li>
                    <!--Generico
                     <li>
                         <a name=""/>
                         <h1 style="text-align: center"> </h1>


                         <a href="#Menu" style="text-align: center"><h3>REGRESAR AL MENÚ</h3></a>
                         <hr>
                     </li>
                     -->
                </ul>
            </div>
        </div>
    </section>
    <!-- end section -->
{% endblock %}

{% block cierre %}
    {{ parent() }}
{% endblock %}
{% block Copyright %}
{{ parent() }}
{% endblock %}